USE [master]
GO

/****** Object:  Database [GSSWEB]    Script Date: 2017/6/26 下午 04:59:04 ******/
CREATE DATABASE [GSSWEB]
GO
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------


USE [GSSWEB]
GO

/****** Object:  Table [dbo].[BOOK_CODE]    Script Date: 2017/6/26 下午 04:58:45 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[BOOK_CODE](
	[CODE_TYPE] [nvarchar](50) NOT NULL,
	[CODE_ID] [nvarchar](100) NOT NULL,
	[CODE_TYPE_DESC] [nvarchar](200) NULL,
	[CODE_NAME] [nvarchar](200) NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_USER] [nvarchar](10) NULL,
	[MODIFY_DATE] [datetime] NULL,
	[MODIFY_USER] [nvarchar](10) NULL
) ON [PRIMARY]

GO

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

USE [GSSWEB]
GO

/****** Object:  Table [dbo].[BOOK_CLASS]    Script Date: 2017/6/26 下午 04:58:35 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[BOOK_CLASS](
	[BOOK_CLASS_ID] [nvarchar](4) NOT NULL,
	[BOOK_CLASS_NAME] [nvarchar](60) NOT NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_USER] [nvarchar](12) NULL,
	[MODIFY_DATE] [datetime] NULL,
	[MODIFY_USER] [nvarchar](12) NULL,
 CONSTRAINT [PK_BOOK_CLASS] PRIMARY KEY NONCLUSTERED 
(
	[BOOK_CLASS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
USE [GSSWEB]
GO

/****** Object:  Table [dbo].[BOOK_DATA]    Script Date: 2017/6/26 下午 04:58:52 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[BOOK_DATA](
	[BOOK_ID] [int] IDENTITY(1,1) NOT NULL,
	[BOOK_NAME] [nvarchar](200) NOT NULL,
	[BOOK_CLASS_ID] [nvarchar](4) NOT NULL,
	[BOOK_AUTHOR] [nvarchar](30) NULL,
	[BOOK_BOUGHT_DATE] [datetime] NULL,
	[BOOK_PUBLISHER] [nvarchar](20) NULL,
	[BOOK_NOTE] [nvarchar](1200) NULL,
	[BOOK_STATUS] [char](1) NOT NULL,
	[BOOK_KEEPER] [nvarchar](12) NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_USER] [nvarchar](12) NULL,
	[MODIFY_DATE] [datetime] NULL,
	[MODIFY_USER] [nvarchar](12) NULL,
 CONSTRAINT [PK_BOOK_DATA] PRIMARY KEY NONCLUSTERED 
(
	[BOOK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO


--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------


USE [GSSWEB]
GO

/****** Object:  Table [dbo].[MEMBER_M]    Script Date: 2017/6/1 下午 07:56:28 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[MEMBER_M](
	[USER_ID] [nvarchar](12) NOT NULL,
	[USER_CNAME] [nvarchar](50) NULL,
	[USER_ENAME] [nvarchar](50) NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_USER] [nvarchar](12) NULL,
	[MODIFY_DATE] [datetime] NULL,
	[MODIFY_USER] [nvarchar](12) NULL,
 CONSTRAINT [PK_MEMBER_M] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]


--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--/***************************** BOOK_CLASS ***********************************************/
delete from BOOK_CLASS
GO
raiserror('Now Insert BOOK_CLASS Datas .... ',1,1)
insert into BOOK_CLASS ([BOOK_CLASS_ID],[BOOK_CLASS_NAME],[CREATE_DATE],[CREATE_USER],[MODIFY_DATE],[MODIFY_USER])  Values ('BK','Banking',Null,Null,Null,Null)
insert into BOOK_CLASS ([BOOK_CLASS_ID],[BOOK_CLASS_NAME],[CREATE_DATE],[CREATE_USER],[MODIFY_DATE],[MODIFY_USER])  Values ('DB','Database',Null,Null,Null,Null)
insert into BOOK_CLASS ([BOOK_CLASS_ID],[BOOK_CLASS_NAME],[CREATE_DATE],[CREATE_USER],[MODIFY_DATE],[MODIFY_USER])  Values ('DH','Dataware House',Null,Null,Null,Null)
GO

--/***************************** BOOK_CODE ***********************************************/
delete from BOOK_CODE
GO
raiserror('Now Insert BOOK_CODE Datas .... ',1,1)
insert into BOOK_CODE ([CODE_TYPE],[CODE_ID],[CODE_TYPE_DESC],[CODE_NAME],[CREATE_DATE],[CREATE_USER],[MODIFY_DATE],[MODIFY_USER])  Values ('BOOK_STATUS','A','書籍狀態','可以借出','2017/06/12 00:00:00','kent_huang','2017/06/12 00:00:00','kent_huang')
insert into BOOK_CODE ([CODE_TYPE],[CODE_ID],[CODE_TYPE_DESC],[CODE_NAME],[CREATE_DATE],[CREATE_USER],[MODIFY_DATE],[MODIFY_USER])  Values ('BOOK_STATUS','B','書籍狀態','已借出','2017/06/12 00:00:00','kent_huang','2017/06/12 00:00:00','kent_huang')
insert into BOOK_CODE ([CODE_TYPE],[CODE_ID],[CODE_TYPE_DESC],[CODE_NAME],[CREATE_DATE],[CREATE_USER],[MODIFY_DATE],[MODIFY_USER])  Values ('BOOK_STATUS','U','書籍狀態','不可借出','2017/06/12 00:00:00','kent_huang','2017/06/12 00:00:00','kent_huang')
GO

--/***************************** BOOK_DATA ***********************************************/
delete from BOOK_DATA
GO
raiserror('Now Insert BOOK_DATA Datas .... ',1,1)
insert into BOOK_DATA ([BOOK_NAME],[BOOK_CLASS_ID],[BOOK_AUTHOR],[BOOK_BOUGHT_DATE],[BOOK_PUBLISHER],[BOOK_NOTE],[BOOK_STATUS],[BOOK_KEEPER],[CREATE_DATE],[CREATE_USER],[MODIFY_DATE],[MODIFY_USER])  Values ('New SQL Server Programmer''s Tool Kit Doc','DB','','1995/10/05 00:00:00','零壹','','B','0001','1997/08/04 17:03:55','180','1997/08/04 17:03:55','180')
insert into BOOK_DATA ([BOOK_NAME],[BOOK_CLASS_ID],[BOOK_AUTHOR],[BOOK_BOUGHT_DATE],[BOOK_PUBLISHER],[BOOK_NOTE],[BOOK_STATUS],[BOOK_KEEPER],[CREATE_DATE],[CREATE_USER],[MODIFY_DATE],[MODIFY_USER])  Values ('Microsoft SQL Server Documentation Set','DB','','1996/04/05 00:00:00','','','B','0002','1997/08/04 17:02:46','180','1997/08/04 17:02:46','180')
insert into BOOK_DATA ([BOOK_NAME],[BOOK_CLASS_ID],[BOOK_AUTHOR],[BOOK_BOUGHT_DATE],[BOOK_PUBLISHER],[BOOK_NOTE],[BOOK_STATUS],[BOOK_KEEPER],[CREATE_DATE],[CREATE_USER],[MODIFY_DATE],[MODIFY_USER])  Values ('A complete guide to DB2 universal database','SC','kalakota','2004/01/19 00:00:00','WESLEY','','B','0002','2004/01/19 13:36:10','793','2006/02/07 11:21:58','793')
GO

--/***************************** MEMBER_M ***********************************************/
delete from MEMBER_M
GO
raiserror('Now Insert MEMBER_M Datas .... ',1,1)
insert into MEMBER_M ([USER_ID],[USER_CNAME],[USER_ENAME],[CREATE_DATE],[CREATE_USER],[MODIFY_DATE],[MODIFY_USER])  Values ('0001','張三','Andy','2017/06/27 09:51:51',Null,'2017/06/27 09:51:51',Null)
insert into MEMBER_M ([USER_ID],[USER_CNAME],[USER_ENAME],[CREATE_DATE],[CREATE_USER],[MODIFY_DATE],[MODIFY_USER])  Values ('0002','李四','Bill','2017/06/27 09:51:51',Null,'2017/06/27 09:51:51',Null)
insert into MEMBER_M ([USER_ID],[USER_CNAME],[USER_ENAME],[CREATE_DATE],[CREATE_USER],[MODIFY_DATE],[MODIFY_USER])  Values ('0003','王五','Ada','2017/06/27 09:51:51',Null,'2017/06/27 09:51:51',Null)
GO




--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------



















